.search-container {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
  }
  .search-container input {
    width: 60%;
    border-radius: 25px;
    border: 1px solid lightgray;
    color: grey;
    padding: 8px 0 8px 10px;
    margin-right: 10px;
  }
  .search-container input:focus {
    outline: 0;
  }